@using Ms.Pediakids.Core.Controllers

<!doctype html>
<html>
  <head>
  </head>
  <body>
    <p>
      This is the server-side part of the Political application. It exposes your MS SQL or MySQL data sources as OData services.
    </p>
     <p>
      @{  
          Home home = ViewBag.Home;
          Layout = null;  
      } 
      To see the client-side go to <a href="http://@home.domain/swagger/index.html">http://@home.domain/swagger</a> <br>.
      GO ODATA <a href="http://@home.domain/odata/pediakids">http://@home.domain/odata/pediakids</a>.
    </p>
  </body>
</html>
